pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }

#contentSections {
  border-bottom: thin solid rgb(12, 155, 116);
  padding: 1.5em 0 0.3em 0;
  margin: 0;
  letter-spacing: 1px;
  color: rgb(10, 132, 100);
  line-height: 1.2;
  text-align: left;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
} 
  